- var demoDir = "/public/demo/"

mixin sidebar(activeVal, activeChild)
  .sidebar
    include sidebar-header
    .sidebar-wrapper
      ul.list-menu
        li.header MAIN NAVIGATION
        li.has-children(class= activeVal==="dashboards" ? "active" : "")
          a(href="javascript:;")
            i(class="la la-dashboard")
            span Dashboards
            .right-container
              i(class= activeVal==="dashboards" ? "la la-chevron-down tree-icon" : "la la-chevron-right tree-icon")
          ul.tree
            li.tree-item
              a(class= activeChild==="ecommerce" ? "active" : "", href=demoDir + "dashboards/ecommerce.html")
                i(class="la la-circle")
                span Ecommerce
            li.tree-item
              a(class= activeChild==="iot" ? "active" : "", href=demoDir + "dashboards/iot.html")
                i(class="la la-circle")
                span IoT
        li.header COMPONENTS
        li(class= activeVal==="colors" ? "active" : "")
          a(href=demoDir + "components/colors.html")
            i(class="la la-tint")
            span Colors
        li(class= activeVal==="icons" ? "active" : "")
          a(href=demoDir + "components/icons.html")
            i(class="la la-star")
            span Icons
        li(class= activeVal==="buttons" ? "active" : "")
          a(href=demoDir + "components/buttons.html")
            i(class="la la-mouse-pointer")
            span Buttons
        li.has-children(class= activeVal==="forms" ? "active" : "")
          a(href="javascript:;")
            i(class="la la-pencil-square-o")
            span Forms
            .right-container
              i(class= activeVal==="forms" ? "la la-chevron-down tree-icon" : "la la-chevron-right tree-icon")
          ul.tree
            li.tree-item
              a(class= activeChild==="general" ? "active" : "", href=demoDir + "components/forms/general.html")
                i(class="la la-circle")
                span General
            li.tree-item
              a(class= activeChild==="advanced" ? "active" : "", href=demoDir + "components/forms/advanced.html")
                i(class="la la-circle")
                span Advanced
        li.has-children(class= activeVal==="tables" ? "active" : "")
          a(href="javascript:;")
            i(class="la la-th-large")
            span Tables
            .right-container
              i(class= activeVal==="tables" ? "la la-chevron-down tree-icon" : "la la-chevron-right tree-icon")
          ul.tree
            li.tree-item
              a(class= activeChild==="simple" ? "active" : "", href=demoDir + "components/tables/simple.html")
                i(class="la la-circle")
                span Simple
            //- li.tree-item
            //-   a(class= activeChild==="datatable" ? "active" : "", href="/components/tables/datatable.html")
            //-     i(class="la la-circle")
            //-     span Datatable
        li(class= activeVal==="widgets" ? "active" : "")
          a(href=demoDir + "components/widgets.html")
            i(class="la la-calculator")
            span Widgets
            .right-container
              span.notification 3
            
        li.header EXAMPLE
        li.has-children(class= activeVal==="pages" ? "active" : "")
          a(href="javascript:;")
            i(class="la la-columns")
            span Pages
            .right-container
              i(class= activeVal==="pages" ? "la la-chevron-down tree-icon" : "la la-chevron-right tree-icon")
          ul.tree
            li.tree-item
              a(class= activeChild==="login" ? "active" : "", href=demoDir + "components/tables/datatable.html")
                i(class="la la-circle")
                span Login
            li.tree-item
              a(class= activeChild==="register" ? "active" : "", href=demoDir + "components/tables/datatable.html")
                i(class="la la-circle")
                span Register
            li.tree-item
              a(class= activeChild==="404" ? "active" : "", href=demoDir + "components/tables/datatable.html")
                i(class="la la-circle")
                span 404