- var distDir = "../../../dist/"
- var pageTitle="Pugna | General Form"

include ../../../main-content/header
include ../../../sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#B5D43C")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css")
    link(rel="stylesheet", href=distDir + "css/main.css", type="text/css")
    link(rel="stylesheet", href=distDir + "css/choices.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    +sidebar("forms", "general", "../../")
    .main-content
      +header("General Form", "Components", "Forms", "General")
      .content-wrapper
        include ../../../main-content/chatbox
        .row
          .col-md-6
            .box
              .box-header
                h3 Quick Example
              .box-body
                .form-group.label--floating
                  input(type="text", name="")
                  label Full name
                .form-group.label--floating
                  input(type="email", name="")
                  label Email address
                .form-group.label--floating
                  input(type="password", name="")
                  label Password
                .form-group
                  label File input
                  .form-file
                    button.btn-file
                      i.la.la-upload
                    input(type="file", name="")
                    .file-container
                      p Namafile.ext
                      progress(value="22", max="100")
              .box-footer
                button.btn.btn-md.btn-primary Submit
            
            .box.mt-4
              .box-header
                h3 General Elements
              .box-body
                hr(data-hr="text").mt-0
                .form-group
                  label Default
                  input(type="text", name="")
                .form-group
                  label Disabled
                  input(type="text", name="", disabled=true)
                hr(data-hr="textarea")
                .form-group
                  label Default
                  textarea(name="", cols="30", rows="4")
                .form-group
                  label Disabled
                  textarea(name="", cols="30", rows="4", disabled=true)
                hr(data-hr="select")
                .form-group
                  label Default
                  select(name="")
                    option(value="") Option 1
                    option(value="") Option 2
                    option(value="") Option 3
                .form-group
                  label Disabled
                  select(name="", disabled=true)
                    option(value="", selected=true) Option 1
                    option(value="") Option 2
                    option(value="") Option 3
                hr(data-hr="checkbox")
                .form-group
                  .form-checkbox
                    label
                      .pgn-checkbox
                        input(type="checkbox", name="", checked=true)
                        span
                      span Default horizontal

                    label
                      .pgn-checkbox
                        input(type="checkbox", name="")
                        span
                      span Checkbox 2

                    label
                      .pgn-checkbox
                        input(type="checkbox", name="")
                        span
                      span Checkbox 3
                .form-group
                  .form-checkbox.vertical
                    label
                      .pgn-checkbox
                        input(type="checkbox", name="", checked=true)
                        span
                      span Vertical

                    label
                      .pgn-checkbox
                        input(type="checkbox", name="")
                        span
                      span Checkbox 2

                    label
                      .pgn-checkbox
                        input(type="checkbox", name="")
                        span
                      span Checkbox 3
                .form-group
                  .form-checkbox
                    label
                      .pgn-checkbox
                        input(type="checkbox", name="", disabled=true)
                        span
                      span Disabled
                hr(data-hr="radio")
                .form-group
                  .form-radio
                    label
                      .pgn-radio
                        input(type="radio", name="horizontal", checked=true)
                        span
                      span Default horizontal

                    label
                      .pgn-radio
                        input(type="radio", name="horizontal")
                        span
                      span Radio 2

                    label
                      .pgn-radio
                        input(type="radio", name="horizontal")
                        span
                      span Radio 3
                .form-group
                  .form-radio.vertical
                    label
                      .pgn-radio
                        input(type="radio", name="vertical", checked=true)
                        span
                      span Vertical

                    label
                      .pgn-radio
                        input(type="radio", name="vertical")
                        span
                      span Radio 2

                    label
                      .pgn-radio
                        input(type="radio", name="vertical")
                        span
                      span Radio 3
                .form-group
                  .form-radio
                    label
                      .pgn-radio
                        input(type="radio", name="", disabled=true)
                        span
                      span Disabled
          
          .col-md-6
            .box
              .box-header
                h3 Input Size & Alignment
              .box-body
                hr(data-hr="height").mt-0
                .form-group.form-group--lg
                  label Large
                  input(type="text", name="")
                .form-group
                  label Default
                  input(type="text", name="")
                .form-group.form-group--sm
                  label Small
                  input(type="text", name="")
                hr(data-hr="width")
                .form-group
                  label 100% (default)
                  input(type="text", name="")
                .form-group.w-75
                  label 75%
                  input(type="text", name="")
                .form-group.w-50
                  label 50%
                  input(type="text", name="")
                .form-group.w-25
                  label 25%
                  input(type="text", name="")
                hr(data-hr="alignment")
                .form-group
                  label Vertical (default)
                  input(type="text", name="")
                .form-group.horizontal
                  label Horizontal
                  input(type="text", name="")

            //- .box.mt-4
            //-   .box-header
            //-     h3 Input Masking
            //-   .box-body.pt-0
            //-     .form-group
            //-       label Phone number (US format)
            //-       input(type="text", name="")
            //-     .form-group
            //-       label Currency
            //-       input(type="text", name="")
            //-     .form-group
            //-       label Invoice
            //-       input(type="text", name="")
            //-     .form-group
            //-       label Date
            //-       input(type="text", name="")
            
            .box.mt-4
              .box-header
                h3 Custom Elements
              .box-body
                hr(data-hr="custom input").mt-0
                .form-group.label--floating
                  input(type="text", name="")
                  label Floating label
                .form-group.with-addon
                  span Referral code
                  input(type="text", name="")
                .form-group.with-addon
                  span
                    i.la.la-dollar
                  input(type="text", name="")
                .form-group.with-addon.addon--right
                  span .00
                  input(type="text", name="")
                .form-group.with-addon
                  span 
                    .pgn-checkbox
                      input(type="checkbox", name="")
                      span
                  input(type="text", name="")
                hr(data-hr="custom select dropdown")
                .form-group
                  .form-select.pgn-select
                    select(name="")
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3
                      option(value="4") Option 4
                      option(value="5", selected=true) Option 5
                      option(value="6") Option 6
                      option(value="7") Option 7
                      option(value="8") Option 8
                hr(data-hr="file upload with progress")
                .form-group
                  .form-file
                    button.btn-file
                      i.la.la-upload
                    input(type="file", name="")
                    .file-container
                      p Namafile.ext
                      progress(value="22", max="100")

    script(src=distDir + "js/main.js")
    script(src=distDir + "js/formDemo.js")
