- var baseDir = "../../"
- var pageTitle="Pugna | Colors"

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#FFD764")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css")
    link(rel="stylesheet", href=baseDir + "dist/css/main.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    include ../../sidebar/sidebar
    .main-content
      include ../../main-content/header
      .content-wrapper
        include ../../main-content/chatbox
        .row
          .col-md-12
            .box.responsive
              .box-header
                h3 Buttons
              .box-body
                .row.p-3
                  .col-md-3.mb-2
                    button.btn.btn-primary.btn-lg.btn-block Pugna Primary
                  .col-md-3.mb-2
                    button.btn.btn-secondary.btn-lg.btn-block Pugna Secondary
                  .col-md-3.mb-2
                    button.btn.btn-light.btn-lg.btn-block Pugna Light
                  .col-md-3.mb-2
                    button.btn.btn-dark.btn-lg.btn-block Pugna Dark

                .row.p-0
                  .col-md-12
                    hr(data-hr="bootstrap button color")
                    .table-wrapper
                      table
                        thead
                          tr
                            th Default
                            th Medium
                            th Large
                            th Block
                            th Invert
                            th Disabled
                        tbody
                          tr
                            td
                              button.btn.btn-c-primary Primary
                            td
                              button.btn.btn-c-primary.btn-md Primary
                            td
                              button.btn.btn-c-primary.btn-lg Primary
                            td
                              button.btn.btn-c-primary.btn-block Primary
                            td
                              button.btn.btn-c-primary.btn-invert Primary
                            td
                              button.btn.btn-c-primary.btn-disabled(disabled=true) Primary
                          tr
                            td
                              button.btn.btn-c-info Info
                            td
                              button.btn.btn-c-info.btn-md Info
                            td
                              button.btn.btn-c-info.btn-lg Info
                            td
                              button.btn.btn-c-info.btn-block Info
                            td
                              button.btn.btn-c-info.btn-invert Info
                            td
                              button.btn.btn-c-info.btn-disabled(disabled=true) Info
                          tr
                            td
                              button.btn.btn-c-success Success
                            td
                              button.btn.btn-c-success.btn-md Success
                            td
                              button.btn.btn-c-success.btn-lg Success
                            td
                              button.btn.btn-c-success.btn-block Success
                            td
                              button.btn.btn-c-success.btn-invert Success
                            td
                              button.btn.btn-c-success.btn-disabled(disabled=true) Success
                          tr
                            td
                              button.btn.btn-c-warning Warning
                            td
                              button.btn.btn-c-warning.btn-md Warning
                            td
                              button.btn.btn-c-warning.btn-lg Warning
                            td
                              button.btn.btn-c-warning.btn-block Warning
                            td
                              button.btn.btn-c-warning.btn-invert Warning
                            td
                              button.btn.btn-c-warning.btn-disabled(disabled=true) Warning
                          tr
                            td
                              button.btn.btn-c-danger Danger
                            td
                              button.btn.btn-c-danger.btn-md Danger
                            td
                              button.btn.btn-c-danger.btn-lg Danger
                            td
                              button.btn.btn-c-danger.btn-block Danger
                            td
                              button.btn.btn-c-danger.btn-invert Danger
                            td
                              button.btn.btn-c-danger.btn-disabled(disabled=true) Danger

        .row
          .col-md-5
            .box
              .box-header
                h3 Icon Buttons
              .box-body.responsive
                .row.justify-content-between.p-3
                  .col-md-3.col-2.p-0
                    button.btn.btn-primary.btn-icon.btn-icon--lg
                      i.fa.fa-star
                  .col-md-3.col-2.p-0
                    button.btn.btn-c-primary.btn-icon
                      i.fa.fa-user
                  .col-md-3.col-2.p-0
                    button.btn.btn-c-success.btn-invert.btn-icon.btn-icon--lg.btn-icon--square
                      i.fa.fa-bookmark
                  .col-md-3.col-3.p-0
                    button.btn.btn-c-warning.btn-icon.btn-icon--square
                      i.fa.fa-phone 
                      span.ml-1 Call

          .col-md-7
            .box
              .box-header
                h3 Group Buttons
              .box-body.responsive
                .row.p-3
                  .col-md-5.mb-3
                    .btn-group
                      button.btn.btn-primary
                        span Regular
                      button.btn.btn-primary.active
                        span Premium
                  .col-md-3.mb-3
                    .btn-group
                      button.btn.btn-c-info.active
                        i.fa.fa-align-left
                      button.btn.btn-c-info
                        i.fa.fa-align-center
                      button.btn.btn-c-info
                        i.fa.fa-align-right
                  .col-md-4.mb-3
                    .btn-group
                      button.btn.btn-c-danger.btn-lg
                        i.fa.fa-align-left
                      button.btn.btn-c-danger.btn-lg.active
                        i.fa.fa-align-center
                      button.btn.btn-c-danger.btn-lg
                        i.fa.fa-align-right


    script(src=baseDir +"dist/js/main.js")
