- var distDir = "../../dist/"
- var pageTitle="Pugna | Advanced Form"

include ../../main-content/header
include ../../sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="theme-color", content="#FFFFFF")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport")

    title=pageTitle
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Roboto")
    link(rel="stylesheet", href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css")
    link(rel="stylesheet", href=distDir + "css/main.css", type="text/css")
    link(rel="stylesheet", href=distDir + "css/choices.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  body
    +sidebar("forms", "advanced")
    .main-content
      +header("Advanced Form", "Components", "Forms", "Advanced")
      .content-wrapper
        include ../../main-content/chatbox
        .container-fluid
          .row
            .col-md-6
              .box
                .box-header
                  h3 Choices.js
                  a(href="https://github.com/jshjohnson/Choices", target="_blank")
                    i.la.la-github
                .box-body
                  div.pt-1
                    input(id="js-choice", type="text", name="")
                    .form-group
                      label Result
                      input(id="js-choice-res", type="text", name="", disabled=true)

        include ../../main-content/footer

    script(src=distDir + "js/main.js")
    script(src=distDir + "js/choices.min.js")
    script(src=distDir + "js/choicesDemo.js")
